* {
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Source Sans Pro', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
